---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro';
---
<Layout>
	<main class="min-h-screen bg-deep-earth flex justify-center items-center ">
		<div class="">
			<div class="text-center w-full">
			<h1 class="font-pixel text-3xl text-soft-petal mb-4">COFÉ</h1>
			<p class="text-dusty-rose text-lg mb-6">Recetas de café casero</p>
			
			
		</div>
		<div class="text-center w-full content-end">
			<Button href="/recetas" class="w-[80%]">
				EMPEZAR
			</Button>
		</div>
		</div>
		
	</main>
</Layout>
